
Director {
    Name = "bacula-dir"
    Address = "<%= @homename %>"
    Password = "<%= @password_real %>"
    TLS Enable = yes
    TLS Require = yes
    TLS Key = /etc/pki/tls/private/bacula.key
    TLS Certificate = /etc/pki/tls/certs/bacula.crt
    TLS CA Certificate File = <%= @puppet_ssldir %>/certs/ca.pem
}
