############# config ##################
#
# set base_path    /var/spool/apt-mirror
#
# set mirror_path  $base_path/mirror
# set skel_path    $base_path/skel
# set var_path     $base_path/var
# set cleanscript $var_path/clean.sh
# set defaultarch  <running host architecture>
# set postmirror_script $var_path/postmirror.sh
# set run_postmirror 0
set nthreads     <%= @aptmirror_threads %>
set _tilde 0
#
############# end config ##############

<% @aptmirror_list.each do |os| -%>
deb <%= @aptmirror_server %> <%= os %> main restricted universe multiverse
deb <%= @aptmirror_server %> <%= os %>-security main restricted universe multiverse
deb <%= @aptmirror_server %> <%= os %>-updates main restricted universe multiverse
<% end -%>

clean http://archive.ubuntu.com/ubuntu
