WSGIDaemonProcess collab user=collab group=collab umask=0007 processes=<%= @processorcount %> threads=15 maximum-requests=4000 display-name=%{GROUP}

<Directory "<%= @collab_webroot %>">
  WSGIProcessGroup collab
  WSGIRestrictProcess collab
</Directory>
