_mda = "\"<%= @mda %>\""

pki egress certificate "<%= scope.lookupvar('ssl::certs') %>/smtpd.crt"
pki egress key "<%= scope.lookupvar('ssl::private') %>/smtpd.key"

listen on lo0
listen on egress port smtp tls pki egress
listen on egress port submission tls-require pki egress auth mask-source

table aliases db:/etc/mail/aliases.db
table clients db:/etc/mail/clients.db
<% @domains.each do |dom| -%>
table aliases.<%= dom %> db:/etc/mail/aliases.<%= dom %>.db
<% end if @domains -%>
<% @virtuals.each do |dom| -%>
table virtual.<%= dom %> db:/etc/mail/virtual.<%= dom %>.db
<% end if @virtuals -%>
<% if @custom -%>

# custom rules
<%   @custom.each do |rule| -%>
<%= rule %>
<%   end -%>
<% end -%>

# accept for localhost and our fqdn
accept from any for local alias <aliases> deliver to mda $_mda
<% if @domains -%>

# accept for primary domains
<%   @domains.each do |dom| -%>
accept from any for domain { "<%= dom %>", "*.<%= dom %>" } \
	alias <aliases.<%= dom %>> deliver to mda $_mda
<%   end -%>
<% end -%>
<% if @virtuals -%>

# accept for virtual domains
<%   @virtuals.each do |dom| -%>
accept from any for domain { "<%= dom %>", "*.<%= dom %>" } \
	virtual <virtual.<%= dom %>> deliver to mda $_mda
<%   end -%>
<% end -%>

# relay for remote clients and local users
accept from source <clients> for any relay<% if @maildomain %> as "@<%= @maildomain %>"<% end %>
accept from local for any relay<% if @maildomain %> as "@<%= @maildomain %>"<% end %>
