divert(-1)
#
# Copyright (c) 2001-2003 Sendmail, Inc. and its suppliers.
#	All rights reserved.
#
# By using this file, you agree to the terms and conditions set
# forth in the LICENSE file which can be found at the top level of
# the sendmail distribution.
#
#

#
#  This is the prototype file for a set-group-ID sm-msp sendmail that
#  acts as a initial mail submission program.
#

divert(0)dnl
<% if ['CentOS','RedHat','Fedora'].index(@operatingsystem) -%>
include(`/usr/share/sendmail-cf/m4/cf.m4')dnl
<% elsif @operatingsystem == 'Ubuntu' -%>
include(`/usr/share/sendmail/cf/m4/cf.m4')dnl
DOMAIN(`debian-msp')dnl
<% end -%>
VERSIONID(`puppet setup')dnl
OSTYPE(`<%= @kernel.downcase -%>')dnl
define(`confCF_VERSION', `Submit')dnl
define(`__OSTYPE__',`')dnl dirty hack to keep proto.m4 from complaining
define(`_USE_DECNET_SYNTAX_', `1')dnl support DECnet
define(`confTIME_ZONE', `USE_TZ')dnl
define(`confDONT_INIT_GROUPS', `True')dnl
define(`confDIRECT_SUBMISSION_MODIFIERS',`C')dnl
<% if @mail_domain -%>
define(`confDOMAIN_NAME', `<%= @mail_domain %>')dnl
<% end -%>
<% if ['CentOS','RedHat','Fedora'].index(@operatingsystem) -%>
define(`confPID_FILE', `/var/run/sm-client.pid')dnl
<% end -%>
define(`confCACERT_PATH', `/etc/mail/certs')dnl
define(`confCACERT', `<%= scope.lookupvar('sendmail::common::cabundle') %>')dnl
FEATURE(`use_ct_file')dnl
