# Use traditional timestamp format
$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat

# provides --MARK-- message capability
$ModLoad immark
# Provides kernel logging support (previously done by rklogd)
$ModLoad imklog
# Provides support for local system logging (e.g. via logger command)
$ModLoad imuxsock

<% if @operatingsystem == "OpenBSD" -%>
# Local sockets for chrooted services
$AddUnixListenSocket /var/empty/dev/log
$AddUnixListenSocket /var/named/dev/log
$AddUnixListenSocket /var/nsd/dev/log
$AddUnixListenSocket /var/www/dev/log

<% end -%>
