<% unless @domainname.empty? -%>
domain <%= @domainname %>
<% end -%>
<% unless @searchpath.empty? -%>
search <%= @searchpath.join(" ") %>
<% end -%>
<% @nameservers.each do |ns| -%>
nameserver <%= ns %>
<% end -%>
