#!/bin/sh

if [ "`whoami`" = "root" ]; then
	echo "$0: must not be run as root"
	exit 1
fi

find /srv/puppet/reports/ -xdev -mindepth 2 -type f -mtime +<%= @puppet_report_maxage %> \
	-name '*.yaml.gz' -execdir rm -f -- {} \<% if @kernel == 'Linux' %>+<% else %>;<% end %>
find /srv/puppet/reports/ -xdev -mindepth 2 -type f -mtime +1 \
	-name '*.yaml' -execdir gzip -- {} \<% if @kernel == 'Linux' %>+<% else %>;<% end %>
