# The next three variables specifies where the location of the RRD
# databases, the HTML output, and the logs, severally.  They all
# must be writable by the user running munin-cron.
dbdir /var/lib/munin
htmldir /var/www/html/munin
logdir /var/log/munin
rundir /var/run/munin
cgitmpdir /var/cache/munin

# Where to look for the HTML templates
tmpldir /etc/munin/templates

# Create html and graphs on-demand
html_strategy cgi
graph_strategy cgi
cgiurl_graph /munin/cgi/munin-cgi-graph

# Force munin-update to use IPv4 to workaround broken IPv6 support
local_address <%= @ipaddress %>
<% if @munin_tls == "true" -%>

# Require TLS
tls paranoid
tls_verify_certificate yes
tls_ca_certificate <%= @puppet_ssldir %>/certs/ca.pem
tls_certificate <%= scope.lookupvar('ssl::certs') %>/munin.crt
tls_private_key <%= scope.lookupvar('ssl::private') %>/munin.key
<% end -%>

# Include nodes
includedir /etc/munin/conf.d
